<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="header">
      <h1><a href="/">Mangas</a></h1>
    </div>
    <div class="container">
      <section class="categories">
        <h1>Categories</h1>
        <ul class="genere">
          <li><a href="Shôjo">Shôjo manga (少女マンガ)</a></li>
          <li><a href="Josei">Josei manga (女性マンガ)</a></li>
          <li><a href="Shônen">Shônen manga (少年マンガ)</a></li>
          <li><a href="Gekiga">Gekiga manga (劇画マンガ)</a></li>
        </ul>
        <button class="add">Add Manga</button>
      </section>
      <section class="books">
        <!-- <h1>Books</h1> -->
        <div class="book_list">
          <% top_mangas.forEach(function(manga){ %>
          <div class="block">
            <img src="<%= manga.link %>" alt="">
            <p>Title : <%= manga.title %></p>
            <p>Author : <%= manga.author %></p>
            <p>Genre : <%= manga.genre %></p>
            <p>Publication Year : <%= manga.publicationyear %></p>
          </div>
          <% }); %>
        </div>
      </section>
    </div>
  </body>
</html>
